<div class="container-fluid">

<div class="row">	
	
	<div class="col-md-12">
		
		
		
		
<div class="box box-default no-padding">
	<div class="box-header with-border"><h3 class="box-title"> Statistics</h3></div>
	<div class="box-body">
	
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					
					<canvas id="line" class="chart chart-line" data="AdminCtrl.dataLine"
					  labels="AdminCtrl.labelsLine" legend="true" series="AdminCtrl.seriesLine">
					</canvas> 
				
				
				</div>
				<div class="col-md-6">
				
					<canvas id="doughnut" class="chart chart-doughnut" legend="true" data="AdminCtrl.dataDau" labels="AdminCtrl.labelsDau"></canvas>
				
				</div>
			</div>
		</div>
	
	
	
	
	</div>
	<div class="box-footer"></div>
</div>
		







</div>

</div>

</div>
