
.font-bold {
font-weight: bold;
}

.space{
    margin: 3px;
} 

.dark-background{
background: #1a2226!important;
}

.floater{
    position: fixed;
    width:300px;
}

.right{
    right: 40px;
}
.top {
	top: 90px;
}

.activeState{
	background-color: rgba(0,0,0,0.1);
}

.height{
	min-height: 100%!important;
}

.bold
{
	font-weight: 800;
}

.text16{
	font-size: 16px;
}

.border-dashed
{
	border: 2px #f1f1f1 dashed;
	height: 100%;
	width: 100%;
}
